@font-face {
    font-family: 'Roboto Thin';
    src: url(./Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Montserrat Black';
    src: url("./Montserrat-Black.ttf");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url("./Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url("./Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat Light';
    src: url("./Montserrat-Light.ttf");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat Extra Bold';
    src: url("./Montserrat-ExtraBold.ttf");
    font-weight: 900;
    font-style: normal
}